body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin: 5px;
}

#grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 300px 650px 650px 200px;
    grid-template-rows: 65px 1100px;
}
.nospace{
    line-height: 2px;
}

#header{
    background-color: rgb(26, 26, 26);
    grid-column: 1 / -1;
    grid-row: 1;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

#navigator{
    background-color: rgb(230, 230, 230);
    grid-column: 1;
    grid-row: 2;
    padding: 25px 0 0 40px;
}

#navigator p{
    cursor: pointer;
}

#display{
    grid-column: 2/4;
    grid-row: 2;
}

.icons{
    width: 21px;
    height: 21px;
    float: left;
    padding-right: 18px;
}

#form, #homeDisplay{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    
    
}


#jobDisplay{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

#form div, #homeDisplay div{
    padding: 20px;
}

 #jobDisplay div{
    padding: 50px 0;
}

#form{
    width: 1000px;
}

input[type=text],[type=password],[type=email],[type=tel]{
    width: 100%;
    padding: 15px 0px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



input[type=text].longdescription{
    width: 100%;
    height: 250px;
    padding: 15px 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pulldownlist{
    width: 100%;
    padding: 15px 0px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 23%;;
    background-color: #5381d4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2e4877;
}

tr:hover {
    background-color: #f5f5f5;
}

th {
    background-color: rgb(230, 230, 230);
}
.nowrap{
    white-space: nowrap;
}
th,td {
    border-bottom: 1px solid lightgrey;
    text-align: left;
    padding: 15px;
    height: 25px;
    width: 1000px;
}

#homeTop{
    display: flex;
}

#post, #apply {
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #2BDA1E;
    border: none;
    color: white;
    cursor: pointer;
    float: right;
    width: 210px;
    height: 50px;
}

#post{
    margin: 15px 0 0 800px;
}
#apply {
    margin: 15px 0 0 650px;
}

#post,#apply:hover {
    background-color: #07CC00;
}

.invalid{
	color: red;
	border-color: red;
}

.valid{
	color: black;
	border-color: #00ff00;
}

p1{
    color: #cccccc;
}

#job_select{
    cursor: pointer;
    color:#6699ff;
}